---
import { Picture } from 'astro:assets';
import ProfilePicture from '@assets/profile.webp';

const profile = {
    name: 'Jose Arce',
    title: 'Full Stack Developer',
    location: 'Florida, USA',
    description: 'Results-driven Software Development Engineer with over 6+ years of experience in designing and implementing robust software solutions. Proficient in a variety of programming languages and frameworks, with a strong focus on delivering high-quality code and optimizing performance. Adept at collaborating with cross-functional teams to achieve project goals and exceed client expectations.',
};
---

<div class="flex flex-col gap-6 items-center text-center sm:items-start sm:text-left">

    <div class="flex flex-col sm:flex-row gap-4 sm:items-center">

        <Picture
            src={ProfilePicture}
            formats={['webp']}
            width={364}
            height={364}
            alt={'Profile picture ' + profile.name}
            title={profile.name}
            class="w-24 h-24 rounded-xl object-cover border-2 border-primary mx-auto sm:mx-0"
        />

        <div class="text-dos-light">

            <h1 class="text-3xl mb-2 text-slate-100 inline-block relative">
                <span class="bg-dos-background text-dos-light px-0.5 py-1.5">{profile.name.charAt(0)}</span>{profile.name.substring(1)}
            </h1>

            <p class="text-sm mb-1">
                {profile.title}
            </p>

            <p class="flex items-center justify-center sm:justify-start text-sm text-yellow">
                <svg class="-mt-0.5 inline mr-2"fill=none height=14 stroke=currentColor stroke-linecap=round stroke-linejoin=round stroke-width=2 viewBox="0 0 24 24"width=14 xmlns=http://www.w3.org/2000/svg><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx=12 cy=10 r=3></circle></svg>
                {profile.location}
            </p>

        </div>

    </div>

    <p class="leading-normal mt-4 ">
        {profile.description}
    </p>

</div>